/* Etown Branding Color References

Primary Color (Etown Blue): 
HEX #004B98

Secondary Colors: 
HEX #0A2240 (Dark Blue), 
HEX #3DB5E6 (Light Blue),
HEX #E1261C (Red), 
HEX #61BF1A (Green),
HEX #C8C8C8 (Light Gray)

*/

.crete-round-regular {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: normal;
  }
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
main {
  flex: 1;
}

h1 {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

input.form-control {
  width: 500px;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  padding: 10px;
  background-color: #0A2240;
  text-align: center;
  color: white;
}

#register-form {
  border: solid 2px black;
  padding: 10px;
}

.hidden {
  display: none !important;
}

.login-submission {
  display: flex;
  flex-direction: column;
  align-items: center;
}
