/* Etown Branding Color References

Primary Color (Etown Blue): 
HEX #004B98

Secondary Colors: 
HEX #0A2240 (Dark Blue), 
HEX #3DB5E6 (Light Blue),
HEX #E1261C (Red), 
HEX #61BF1A (Green),
HEX #C8C8C8 (Light Gray)

*/

.crete-round-regular {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-color{
  background-color: #0A2240
}

.nav-link, .navbar-brand{
  color: white !important;
}

.nav-link.active {
  background-color: #3DB5E6; /* Light Blue */
  color: white;
  border-radius: 5px; /* Optional: Rounded corners */
}

#prog-bar, #credits {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#classes-needed, #completed-classes, #major-credits, #core-credits, #minor-credits {
  margin-top: 20px;
  margin-bottom: 20px;
}

#classes-needed thead th, #completed-classes thead th {
  padding: 5px;
}

.hidden {
  display: none !important;
}


#credits {
  margin: 20px;
}